$black: #000000;
$white: #FFFFFF;

$white-bg: #FBFAF5;

$gold: #BA9732;

$black-1: #393939;

$grey-1: #D7D7D7;


$mainFontSize: 15px;

$mainFont: 'Gilroy', 'Helvetica Neue', sans-serif;
$extraFont: 'Ledger', 'Helvetica Neue', serif;


